* {
    box-sizing: border-box;
}


/*import Roboto Font*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

/*Input Container*/

.ui-input-container {
    background-color: #ECEFF3;
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    max-width: 100%;
    position: relative;
    width: 150px;
}


/*Descriptions: ex: "Phone Number (US)*/

.ui-input-description {
    color: #9CABBA;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 2%;
    position: absolute;
}


/*Style the input boxes*/

.ui-input {
    background-color: #ECEFF3;
    border: none;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    padding: 6% 2% 2% 2%;
    width: 100%;
}


/*Add focus transition for input boxes*/

.ui-input:focus {
    border: 2px solid #51D0EF;
    transition: .8s ease-in;
}


/*style the validation dot*/

.validation-dot {
    background-color: #F2617A;
    border-radius: 20px;
    height: 10px;
    position: absolute;
    right: 5%;
    top: 10%;
    width: 10px;
}


/*Change container values for Age Box*/

.ui-input-container-adultcheck {
    font-size: 16px;
    width: 80px;
}


/*Options for Age Box info span*/

#dot-valid-age {
    padding-top: 25%;
}
